<div class="pai">
        <div class="quadro_login">
            <div><p class="nomelogin">Login</p></div>
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <label for="user" [ngClass]="'user_lable'">UserName</label><br><input id="user" type="text" formControlName="user" class="user_input" required/><br>
                    <div><p *ngIf="formulario.get('user')?.invalid && formulario.get('user')?.touched" [ngClass]="'aviso'">Usuário deve ter 8 dígitos!</p></div>
                <label for="password" [ngClass]="'password_lable'">Senha</label><br><input id="password" type="password" formControlName="password" class="senha_input"  required/><br>
                <div><p *ngIf="formulario.get('password')?.invalid && formulario.get('password')?.touched" [ngClass]="'aviso'">A senha deve ter 8 dígitos!</p></div>
                <div><p *ngIf="status" [ngClass]="'aviso'">Usuário ou Senha Ivalido!</p></div>
                <button class="botao" type="submit" [disabled]="!formulario.valid">Entrar</button>
                <div class='cadastro'><a href="/cadastro">Cadastre-se!</a></div> 
            </form>
        </div>  
</div>
