<div class="pai">
    <div class="quadro_login">
        <div><p class="nomelogin">Cadastro</p></div>
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <label for="nome" [ngClass]="'user_lable'">Nome Completo</label><br><input id="nome" type="text" formControlName="nome" class="user_input"/><br>
                <div><p *ngIf="formulario.get('nome')?.invalid && formulario.get('nome')?.touched" [ngClass]="'aviso'">Digite o nome completo!</p></div>
            <label for="email" [ngClass]="'user_lable'">Email</label><br><input id="email" type="email" formControlName="email" class="user_input"/><br>
                <div><p *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" [ngClass]="'aviso'">Digite um e-mail válido!</p></div>
            <label for="user" [ngClass]="'user_lable'">Username</label><br><input id="user" type="text" formControlName="user" class="user_input"/><br>
                <div><p *ngIf="formulario.get('user')?.invalid && formulario.get('user')?.touched" [ngClass]="'aviso'">Usuário deve ter 8 dígitos!</p></div>
            <label for="password" [ngClass]="'password_lable'">Senha</label><br><input id="password" type="password" formControlName="password" class="senha_input"  required/><br>
            <div><p *ngIf="formulario.get('password')?.invalid && formulario.get('password')?.touched" [ngClass]="'aviso'">A senha deve ter 8 dígitos!</p></div>
            <button class="botao" type="submit" [disabled]="!formulario.valid">Cadastrar</button>
            <div class='cadastro'><a href="/home">Voltar!</a></div> 
        </form>
    </div>  
</div>